* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code, pre, span {
  margin: 10% 5%;
}
div, h4, h5, h6, p {
  margin: 20% 5%;
}
h1, h2, h3 {
  margin: 30% 5%;
}
.page {
  padding: 2% 0%;
  margin: 0px !important;
  height: 100vh;
}
.nospace {
  margin: auto 5%;
}
